img{
    vertical-align: middle;
}
a {
    text-decoration: none;
}
.mid{
    z-index: 10;
}
.lAndr{
    z-index: 1;
}
.goSmallLeft{
    animation: goSmallLeft .3s linear ;
    animation-fill-mode: forwards;

}
@keyframes goSmallLeft{
    0%{
        left:250px;

        height: 300px;
        width:500px;
        /*transform:scale(1);*/
        /*transform-origin:bottom;*/

    }
    100%{
        left: 0;
        bottom:50px;
        height: 180px;
        width:300px;
        /*transform:scale(0.75);*/
        /*transform-origin:bottom;*/

    }
}
.goBigLeft{
        animation: goBigLeft .3s linear ;
        animation-fill-mode: forwards;

    }
    @keyframes goBigLeft{
        0%{
            left:700px;
            height: 180px;
            width:300px;
            bottom:50px;

            /*transform-origin:bottom;*/

        }
        100%{
            left:250px;
            height: 300px;
            width:500px;
            bottom:0px;
            /*transform:translate(-330px)scale(1.3);*/
            /*transform-origin:bottom;*/

        }
    }
    .goBigRight{
        animation: goBigRight .3s linear ;
        animation-fill-mode: forwards;

    }
    @keyframes goBigRight{
        0%{
            left:0px;
            height: 180px;
            width:300px;
            bottom:50px;

            /*transform-origin:bottom;*/

        }
        100%{
            left:250px;
            height: 300px;
            width:500px;
            bottom:0px;

            /*transform:translate(-330px)scale(1.3);*/
            /*transform-origin:bottom;*/

        }
    }
    .goSmallRight{
        animation: goSmallRight .3s linear ;
        animation-fill-mode: forwards;

    }
    @keyframes goSmallRight{
        0%{
            left:250px;
            height: 300px;
            width:500px;
            bottom:0px;

            /*transform:translateX(0)scale(1);*/
            /*transform-origin:bottom;*/

        }
        100%{
            left:700px;
            height: 180px;
            width:300px;
            bottom:50px;

            /*transform:translate(330px)scale(0.75);*/
            /*transform-origin:bottom;*/

        }
    }
    .goLeftVanish{
                animation: goVanish 0.3s linear ;
                animation-fill-mode: forwards;

            }
            @keyframes goVanish{
                0%{
                    left:0px;
                    height: 180px;
                    width:300px;
                    /*transform:translateX(-330px)scale(0.75);*/
                    /*transform-origin:bottom;*/

                }
                100%{
                    left:-180px;
                    height: 0px;
                    width:0px;
                    /*transform:translate(-660px)scale(0);*/
                    /*transform-origin:bottom;*/
                    display: none;

                }
            }

            .goRightVanish{
                animation: goRightVanish 0.3s linear ;
                animation-fill-mode: forwards;

            }
            @keyframes goRightVanish{
                0%{
                    left:700px;
                    height: 180px;
                    width:300px;
                    /*transform:translateX(-330px)scale(0.75);*/
                    /*transform-origin:bottom;*/

                }
                100%{
                    left:1100px;
                    height: 0px;
                    width:0px;
                    /*transform:translate(-660px)scale(0);*/
                    /*transform-origin:bottom;*/
                    display: none;

                }
            }

            .goShow{
                        animation: goShow 0.3s linear ;
                        animation-fill-mode: forwards;

                    }
                    @keyframes goShow{
                        0%{
                            left:1100px;
                            height: 180px;
                            width:300px;
                            /*transform:translateX(0px);*/
                            transform-origin:left;

                        }

                        100%{
                            left:700px;
                            height: 180px;
                            width:300px;
                            /*transform:translate(-280px)scaleX(1);*/
                            transform-origin:left;

                        }
                    }
                .goRightShow{
                        animation: goRightShow 0.3s linear ;
                        animation-fill-mode: forwards;

                    }
                    @keyframes goRightShow{
                        0%{
                            left:-180px;
                            height: 180px;
                            width:300px;
                            /*transform:translateX(0px);*/
                            transform-origin:left;

                        }

                        100%{
                            left:0px;
                            height: 180px;
                            width:300px;
                            /*transform:translate(-280px)scaleX(1);*/
                            transform-origin:left;

                        }
                    }
.centerImg{
    margin:0 auto;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 800px;
}
.centerText{
    text-align: center;
}
.ptexts{
    width: 100%;
    margin: 0 auto;
}
.twoImg{
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 220px;
}
.style2{
    width: 500px;
    height:300px;
    margin:10px;

    display: inline-block;
    bottom:0;
    left:250px;
    z-index:1000;
    box-shadow:5px 5px 5px grey;
    position:absolute;
}
.style1{
    width: 300px;
    height:180px;
    margin:10px;

    bottom:50px;
    left:0;
    display: inline-block;
    z-index:1;
    box-shadow:5px 5px 5px grey;
    position:absolute;
}
.style3{
    width: 300px;
    height:180px;
    margin:10px;
    bottom:50px;
    left:700px;
    display: inline-block;
    z-index:1;
    box-shadow:5px 5px 5px grey;
    position:absolute;
}
.style4_1{
    width: 300px;
    height:180px;
    margin:10px;

    bottom:50px;
    left:1000px;
    display: none;

    box-shadow:5px 5px 5px grey;
    position:absolute;
}

.style4_2{
    width: 300px;
    height:180px;
    margin:10px;

    bottom:50px;
    left:1000px;
    display: inline-block;

    box-shadow:5px 5px 5px grey;
    position:absolute;
}
.style4_3{
    width: 300px;
    height:180px;
    margin:10px;

    bottom:50px;
    left:-180px;
    display: inline-block;

    box-shadow:5px 5px 5px grey;
    position:absolute;
}

